

<%= form_for @challenge, class: "form-inline ", :url => { :action => "create" } do |f| %>
<div class= "form-field">
    <%= f.text_field :title, placeholder: "Title", class: "form-control " %>
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
    <%= f.text_field :tags, value: "", placeholder: "tags", class: "form-control" %>
  </div>
    <%= f.text_field :user_id, :type => "hidden" %>
    <%= f.submit "Add Challenge", class: "btn btn-outline-info" %>
<% end %>
<div class ="features">
  <div class="dropdown">
    <form>
    <a class="btn btn-secondary dropdown-toggle" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <div><%= link_to "Recent challenge", :sort => "created_at ASC" %></div>
      <div> <%= link_to "older challenge", :sort => "created_at DESC" %></div>
      <div> <%= link_to "Most Votes", :sort => "most_votes" %></div>
      <div> <%= link_to "least Votes", :sort => "least_votes" %></div>
    </div> 
    </form>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0 mr-auto" action="<%= challenge_index_path %>">
          <input class="form-control mr-sm-2 search" type="Text" placeholder="Filter by title" aria-label="Search" name="title_search" >
          <button class="btn my-2 my-sm-0" type="submit"></button>
    </form>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0 mr-auto" action="<%= challenge_index_path %>">
          <input class="form-control mr-sm-2 search" type="Text" placeholder="Filter by emp id" aria-label="Search" name="employee_search" >
          <button class="btn my-2 my-sm-0" type="submit"></button>
    </form>
  
  </div>
</div>

<table class="table  table-bordered">
  <thead class="thead">
    <tr>
      <th scope="col">Challenge_id</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">tags</th>
      <th scope="col">vote_count</th>
      <th scope="col">Emp ID</th>
      <th scope="col">Created at</th>
      <th scope="col">vote</th>
      <th scope="col">Collab</th>
      <th scope="col">Collaborators</th>
    </tr>
  </thead>
  <tbody>
  <% @challenges.each do |challenge| %> 
    <tr>
      <td><%= challenge.id %></td>
      <td><%= challenge.title %></td>
      <td><%= challenge.description %></td>
      <td>
      <% challenge.tags.each do |tag| %>
       <%= "#{tag.name}," %>
      <% end %>
      </td>
      <td><%= challenge.votes.count %></td>
      <td><span><%= challenge.user.empid %></span></td>
      <td><%= challenge.created_at %></td>
      <% if challenge.user != current_user %>
          <td>
          <% if challenge.voted_by? current_user %>
           <%= link_to "x", challenge_vote_path(challenge), method: :delete %>
          <% else %>
            <%= link_to "+", challenge_vote_path(challenge), method: :post %>
          <% end %>
          </td>
          <td>
          <% if challenge.collaborated_by? current_user %>
             <%= link_to "decollab", challenge_collaborator_path(challenge), method: :delete %>
          <% else %>
            <%= link_to "collab", challenge_collaborator_path(challenge), method: :post %> 
        <% end %> 
        </td>
        <% else %>
          <td></td>
          <td></td>
      <% end %>
      <td>
        <% challenge.collaboraters_name(challenge.id).each do |name| %>
          <%= "#{name}," %>
        <% end %>
      </td>
    </tr>
  <% end %> 
  </tbody>
</table>
